* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#studentportalbody {
    background-color: #0B192C;
     margin: 0;
    padding: 0;
    color: #334155;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

fieldset {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #fff;
    color: #000;
    padding: 20px;
    gap: 15px;
    border: 2px solid yellow;
    width: 400px;
    border-radius: 10px;
}

label {
    font-size: 25px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.form-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.heading {
    font-size: 40px;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-inline: 10px;
    padding-block: 20px;
}

#button {
    width: 360px;
    padding: 8px;
    background-color: #35155D;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    height: 35px;

}

#button:hover {
    background: #000;
    color: white;
    transition: ease-in-out 0.3s;
}

input {
    width: 360px;
    height: 30px;
    outline: navajowhite;
    border: 1px solid gray;
    padding: 7px;
}

#left {
    width: 50%;
    background: #261C2C;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#right {
    background: #9F73AB;
    color: white;
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    line-height: 50px;
}

#right h1 {
    font-size: 65px;
    font-weight: normal;
    
}

#text {
    font-weight: bold;
    letter-spacing: 3px;
}

#image {
    width: 400px;
    height: 400px;
}


@media (min-width: 320px) and (max-width: 1024px) {
    #studentportalbody {
        flex-direction: column-reverse;
    }

    #left, #right {
        width: 100%;
        height: auto;
        padding: 20px;
        align-items: center;
    }

    .heading {
        padding: 0;
    }

    #left {
        align-items: center;
        padding: 50px 0;
        gap: 20px;
    }
    #image {
        width: 80%;
        height: auto;
    }

    
}

@media (min-width: 320px) and (max-width: 768px) {
    #fieldset {
        width: 300px;
        
    }

    .heading {
        padding: 0;
    }

    input {
        width: 250px;
    }

    #button {
        width: 250px;
    }

    label {
        font-size: 20px;
    }
    
    #right h1 {
        line-height: 30px;
        font-size: 40px;
        text-align: center;
    }
}


@media (min-width: 769px) and (max-width: 1024px) {
    #fieldset {
        width: 450px;
        
    }

    .heading {
        padding: 0;
    }

    #left {
        align-items: center;
        padding: 50px 0;
        gap: 20px;
    }

    input {
        width: 400px;
    }

    #button {
        width: 400px;
    }

    label {
        font-size: 20px;
    }
}