* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #215E61;
    color: #FE7F2D;
}

main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#h1 {
    font-size: 60px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 55px;
    text-align: center;
    border-bottom: 1px dashed white;

}

main h1 span {
    letter-spacing: 15px;
}

main p {
    color: white;
    font-size: 25px;
}

.boxes-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
            padding: 30px 50px;
}

.link_box {
            background: #233D4D;
            padding: 30px;
            border-radius: 12px;
            box-shadow: 0 10px 25px #2c2c2c66;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-bottom: 4px solid transparent;
            transition-duration: 0.5s;
            text-decoration: none;
        }

        .link_box:hover {
            transform: translateY(-10px);
            border-bottom: 4px solid #fff;
            transition-duration: 0.5s;
            box-shadow: 0 10px 25px #ffffff;
        }

        .box-cta {
            margin-top: 50px;
            color: #FE7F2D;
        }

        .link_box h3 {
            font-size: 30px;
            color: #F5FBE6;
        }

        .link_box p {
            font-size: 20px;
        }